@import "tailwindcss";

:root {
  --orange: #f59d0e;
  --blue-light: #c4d5f2;
  --blue: #2f72e2;
  --red: #ef494f;
  --gray-light: #e1e1e1;
  --gray: #eceef1;
  --gray-dark: #d9dce1;
  --gray-darker: #677289;
  --dark: #1a1a1a;
  --border-width: 0.5px;
  --background: #f9fafb;
  --background-dark: #444444;
  --shadow-focus: 0px 0px 0px 1.5px #c4d5f2;
}

@theme inline {
  --color-background-dark: var(--background-dark);
  --color-background: var(--background);
  --color-orange: var(--orange);
  --color-blue-light: var(--blue-light);
  --color-blue: var(--blue);
  --color-red: var(--red);
  --color-gray-light: var(--gray-light);
  --color-gray: var(--gray);
  --color-gray-dark: var(--gray-dark);
  --color-gray-darker: var(--gray-darker);
  --color-dark: var(--dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --default-border-width: var(--border-width);
  --shadow-focus: var(--shadow-focus);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}
